h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
}

.top-menu{
  position: relative;
  top: inherit;
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  height: inherit;
  background-color: #13264E
}

li {
  display: inline;
}

form {
  display: inline;
}

.file {
  width: 250px;
}

#fileID {
    margin: 10px 5px 10px;
}

#solution{
    margin: 10px 5px 10px;
}

p {
  font-size: 20px;
}

.inference-start {
    width:170px;
    padding: 11px 0;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    border-radius: .25em;
}

table {
    border: 2px solid;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border: 1px solid;
}
th {
    background-color: #eee;
}

em {
    font-style: italic;
    color: blue;
}

.fileselect {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

select {
    width: 200px;
    height: 45px;
    cursor: pointer;
    border-radius: .25em;
}

/*#inference_body {*/

/*}*/

#inference_body{

    /* The image used */
    background-image: url("/assets/img/counts-bg-blur.jpg");

    /* Full height */
    height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#inference_main{
    background-color: #FFFFFF;
}

#inference_section {
    height: 910px;
}

#Oritext {
    margin: 0px 0px 20px;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #007bff;
    text-transform: uppercase;
    text-align: center;
}

#originalImage {
    max-width: 100%;
    max-height: 700px;
    /*margin: 20px 0px 20px;*/
}

#explaintext{
    margin:20px;
    font-size:30px;
}

@media (max-width: 992px) {
    #Oritext {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }
    #originalImage{
        max-width: 100%
    }
    #inference_section{
        height: 610px;
    }
}