#logbody{

    /* The image used */
    background-image: url("/assets/img/counts-bg-blur.jpg");

    /* Full height */
    height: 1080px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
table, thead, tr, tbody, th, td {
    text-align: center;
}
table{
    width:100%;
}
#logtable_filter{
    float:right;
}
#logtable_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;

}

#LogImage {
    width: 100%;
}